/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  background: white;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

button {
  background: oklch(87.2% 0.01 258.338);
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid oklch(70.7% 0.022 261.325);
  margin-top: 2px;
  cursor: pointer;
}

button:hover {
  border-bottom: 4px solid oklch(70.7% 0.022 261.325);
  margin-top: 0px;
}

button:active {
  border-bottom: 0px;
  margin-top: 4px;
}

button.selected {
  border-bottom: 0px;
  margin-top: 4px;
  background: #6b7280;
  color: white;
}

button.disabled {
  border-bottom: 0px;
  margin-top: 4px;
  color: gray;
}


/* Containers */

.outer-container {
  width: 100vw;
  height: 100vh;
}

.inner-container {
  max-width: 800px;
  margin: auto;
  margin-top: 1rem;
  padding: 0.25rem;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
}

.puzzle-id {
  margin-bottom: 0.5rem;
  color: grey;
}

.subtitle {
  margin-bottom: 1rem;
  color: grey;
}

.grid-tile {
  font-size: 0.9rem;
  max-width: 20vw;
  padding: 1rem 0.5rem;
  font-weight: bold;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: oklch(92.2% 0.005 325.62);
  border-radius: 8px;
  cursor: pointer;
  color: oklch(14.5% 0.008 326);
}

.grid-tile:hover {
  background: oklch(86.5% 0.012 325.68);

}

.grid-tile.is-selected {
  background: oklch(36.4% 0.029 323.89);
  color: oklch(98.5% 0 0);
}

.grid-tile.is-shaking {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.grid-tile.is-jumping {
  animation: jump 0.25s;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% { transform: translate(1px) }
  10% { transform: translate(-1px) }
  20% { transform: translate(-3px) }
  30% { transform: translate(3px) }
  40% { transform: translate(1px) }
  50% { transform: translate(-1px) }
  60% { transform: translate(-3px) }
  70% { transform: translate(3px) }
  80% { transform: translate(-1px) }
  90% { transform: translate(1px) }
  100% { transform: translate(1px) }
}

@keyframes jump {
  0% { transform: translateY(0px) }
  50% { transform: translateY(-8px) }
  100% { transform: translateY(0px) }
}

/* Button Row */

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.submit-button {
  margin-right: 0.5rem;
}

/* Remaining tries */

.num-remaining {
  display: grid;
  width: 5rem;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem auto;
}

.remaining-try {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 999px;
  background: grey;
}

.other-puzzles {
  color: oklch(26.3% 0.024 320.12);
  margin-top: 3rem;
}

.other-puzzle-button {
  height: 2rem;
  background: oklch(98.5% 0 0);
  margin: 0.25rem auto;
  display: flex;
  font-size: 0.9em;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

.other-puzzle-button:hover {
  background: oklch(92.2% 0.005 325.62);
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.25rem;
  margin: 0.5rem;
  transition: all 0.2s;
}

.solved-row {
  grid-column: 1/-1;
  height: 2.5rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  border-radius: 5px;
  color: oklch(14.5% 0.008 326);
}

.solved-row.group-easy {
  background:oklch(92.4% 0.12 95.746);
}
.solved-row.group-medium {
  background:oklch(90.5% 0.093 164.15);
}
.solved-row.group-hard {
  background: oklch(89.4% 0.057 293.283);
}
.solved-row.group-challenge {
  background:oklch(89.2% 0.058 10.001);
}

.solved-row-header {
  font-size: 1.1em;
  font-weight: bold;
}

.solved-row-words {
  font-size: 0.9em;
}

/* Messages */

.message-row {
  font-size: 1.2rem;
  font-weight: bold;
  color: oklch(36.4% 0.029 323.89);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FLASH */

.screen {
  background-color: #f1f5f9;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #cbd5e1 0, #cbd5e1 1px, #f1f5f9 0, #f1f5f9 50%);
}


.flash { 
  display: none;
}

.firework-container {
  display: none;
}

.firework-container.show {
  display: block;
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: none;
  opacity: 0;
  animation: flash;
  animation-duration: 3s;
  pointer-events: none;
}

.flash.show {
  display: block;
}

.flash.status-won {
  background: white;
}

.flash.status-lost {
  background: grey;
}

.flash.status-draw {
  background: #475569;
}

/* --------------------------------------------------------------------------- */
/* GAME ANIMATIONS
/* --------------------------------------------------------------------------- */

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Pure CSS firework animation: */
/* Adapted from https://codepen.io/alvaromontoro/pen/MWrMEgW (Public CodePen MIT License) */
@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

/* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
 */
.firework,
.firework::before,
.firework::after
{
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 1vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    /*
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
    */
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    
    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    
    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    
    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    
    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;  
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}